

__pycache__/


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# macOS Files
.DS_Store

# datasets and pickled
datasets/
pickled/partially_cleaned_data.pickle
